<!DOCTYPE html>{% extends "base.html" %} {% block title %} Blog Town|Home {% endblock title %} {% block homeactive %} active {% endblock homeactive %} {% block body %}


<div class="jumbotron">
    <h1 class="display-15">Welcome To Blog Town!</h1>
    <p class="lead">Computers are amazing, but they can’t think for themselves (yet!). They require people to give them instructions. Coding is a list of step-by-step instructions that get computers to do what you want them to do. Coding makes it possible for us to create
        computer software, games, apps and websites.</p>
    <hr class="my-4">
    <p> Coders, or programmers, are people who write the programmes behind everything we see and do on a computer. When children learn to code, it helps them to develop essential skills such as problem solving, logic and critical thinking. Through coding,
        children can learn that there’s often more than one way to solve a problem, and that simpler and more efficient solutions are often better. Learning to code encourages children to become creators, not just consumers, of the technology they use.
    </p>
    <a class="btn btn-primary btn-lg" href="{% url 'Blog'%}" role="button">Go To Blog</a>
</div>
<div class="container">
    <h3>Popular Blogs!</h3>
    <div class="row no-gutters border rounded overflow-hidden flex-md-row my-6 shadow-sm h-md-500 position-relative display-6">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-4 text-primary">World</strong>
            <h3 class="mb-0">Featured post</h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="{% url 'Blog'%}" class="stretched-link">Continue reading</a>
        </div>

    </div>
</div>
{% endblock body %}